<!DOCTYPE html>
<html lang="<%= page.lang %>">
<%- partial('_partial/head') %>
<link rel="stylesheet" href="/css/welcome_page.css">
<body class="welcome-page">
  <%- partial('_partial/welcome_content') %>
</body>
</html> 