<%
function layoutDiv() {
  var el = ''
  el += `<div class="flex-row" id="post-meta">`
  // 只显示更新时间
  el += `<span class="text updated">`
  el += `${__("meta.updated") + __("symbol.colon")}`
  el += `<time datetime="${date_xml(page.updated)}">${date(page.updated, config.date_format)}</time>`
  el += `</span>`
  el += `</div>`
  return el
}
%>
<%- layoutDiv() %>