<%
function layoutDiv() {
  var el = '';
  el += '<div class="navbar top">';
  el += '<nav class="post">';
  
  // 主页链接
  if (is_home()) {
    el += '<a class="active" href="' + url_for(config.index_generator.path) + '">' + __("btn.recent_publish") + '</a>';
  } else {
    el += '<a href="' + url_for(config.index_generator.path) + '">' + __("btn.recent_publish") + '</a>';
  }

  // 专栏链接
  if (theme.topic?.publish_list?.length > 0) {
    if (page.layout == 'index_topic') {
      el += '<a class="active" href="' + url_for(theme.site_tree.index_topic.base_dir) + '/">' + __("btn.topic") + '</a>';
    } else {
      el += '<a href="' + url_for(theme.site_tree.index_topic.base_dir) + '/">' + __("btn.topic") + '</a>';
    }
  }
  
  // 归档链接
  if (site.posts && site.posts.length > 0) {
    if (is_archive()) {
      el += '<a class="active" href="' + url_for(config.archive_dir) + '/">' + __("btn.archives") + '</a>';
    } else {
      el += '<a href="' + url_for(config.archive_dir) + '/">' + __("btn.archives") + '</a>';
    }
  }
  
  // 自定义导航标签
  const { nav_tabs } = theme.site_tree.index_blog
  if (nav_tabs) {
    for (let key of Object.keys(nav_tabs)) {
      if (full_url_for(page.path).startsWith(full_url_for(nav_tabs[key]))){
        el += '<a class="active" href="' + url_for(nav_tabs[key]) + '">' + key + '</a>';
      } else {
        el += '<a href="' + url_for(nav_tabs[key]) + '">' + key + '</a>';
      }
    }
  }

  el += '</nav>';
  el += '</div>';
  return el;
}
%>

<%- layoutDiv() %>