<%
function layoutDiv() {
  var el = '';
  el += '<div class="navbar top">';
  el += '<nav class="post">';
  
  // 主页链接
  if (is_home()) {
    el += '<a class="active" href="' + url_for(config.index_generator.path) + '">主页</a>';
  } else {
    el += '<a href="' + url_for(config.index_generator.path) + '">主页</a>';
  }

  // 文章菜单
  el += '<div class="nav-item">';
  el += '<a href="/archives/">文章</a>';
  el += '<div class="submenu">';
  el += '<a href="/categories/">分类</a>';
  el += '<a href="/tags/">标签</a>';
  el += '<a href="/archives/">归档</a>';
  el += '<a href="/topic/">专栏</a>';
  el += '</div>';
  el += '</div>';

  // 关于菜单
  el += '<div class="nav-item">';
  el += '<a href="/about/">关于</a>';
  el += '<div class="submenu">';
  el += '<a href="/about/">关于</a>';
  el += '<a href="/blogAbout/">博客</a>';
  el += '<a href="https://fengeternity.github.io/love/index.html">LOVE</a>';
  el += '<a href="/friends/">友链</a>';
  el += '<a href="/rss/atom.xml">订阅</a>';
  el += '</div>';
  el += '</div>';

  // 世界菜单
  el += '<div class="nav-item">';
  el += '<a href="#">世界</a>';
  el += '<div class="submenu">';
  el += '<a href="https://www.travellings.cn/go.html" target="_blank">开往</a>';
  el += '<a href="https://foreverblog.cn/go.html" target="_blank">虫洞</a>';
  el += '<a href="https://travel.moe/go.html?travel=on" target="_blank">跃迁</a>';
  el += '</div>';
  el += '</div>';

  el += '</nav>';
  el += '</div>';
  return el;
}
%>

<%- layoutDiv() %>