.post-list #archive
  padding: 1rem
  .archive-header
    display: inline-block
    font-family: $ff-code
    font-weight: 700
    font-size: 1.5em
    line-height: 1.2
    margin-bottom: 1em
    position: relative
    padding: 4px 0
    color: var(--text-p1)
    &:after
      content: ""
      position: absolute
      height: 4px
      bottom: 0
      left: 0
      right: 0
      z-index: -1
      border-radius: 4px
      background: $color-theme
      opacity: 0.8

  .archive-month
    margin-left: 1rem
    margin-bottom: 2rem
    position: relative
    &:before
      content: ""
      position: absolute
      left: -1rem
      top: 0
      bottom: 0
      width: 2px
      background: var(--block-hover)
      
    .archive-month-header
      font-family: $ff-code
      font-weight: 600
      font-size: 1.1em
      color: var(--text-p2)
      margin-bottom: 0.75em
      padding-left: 0.5rem
      position: relative
      &:before
        content: ""
        position: absolute
        left: -1rem
        top: 50%
        width: 0.75rem
        height: 2px
        background: var(--block-hover)

    .archive-list
      margin-left: 1rem
      
  a.post
    display: inline-flex
    align-items: baseline
    margin: 0.25rem 0
    color: var(--text-p1)
    trans2 color background-color
    padding: 0.25rem 0.5rem
    width: 100%
    border-radius: 4px
    text-decoration: none
    time
      font-family: $ff-code
      margin-right: 1.5em
      font-weight: 600
      flex-shrink: 0
      color: var(--text-p4)
      min-width: 2em
    span
      flex-grow: 1
    &:hover
      color: var(--text)
      background: var(--block-hover)
      time
        color: $color-theme

.post-list #cats
  padding: 0
  a.cat
    display: flex
    &.child
      padding-left: 2rem
    padding: .5em 1rem
    border-radius: $border-bar
    color: var(--text-p2)
    align-items: center
    justify-content: space-between
    font-weight: 500
    font-size: $fsp2
    span
      display: flex
      align-items: center
    svg
      height: 1em
      width: auto
      transform: scale(1.2)
      margin-right: 8px
    .badge
      font-weight: 700
      font-family: $ff-code
      opacity: .5
      font-size: $fs-12
    &:hover
      background: var(--block-hover)
      color: var(--text)
      .badge
        opacity: 1
        color: $color-theme

.post-list #tags
  display: flex
  flex-wrap: wrap
  padding: 0
  margin: 0 -4px
  a.tag
    display: inline-flex
    align-items: center
    position: relative
    color: var(--text-p2)
    margin: 4px
    padding: .5em .75rem
    border-radius: 4px
    background: var(--block)
    font-size: $fs-13
    font-weight: 500
    &:before
      content: "#"
      margin-left: -2px
      margin-right: 2px
      opacity: .4
    &:hover
      &:before
        color $color-theme
        opacity: 1
      color: var(--text)
      background: var(--block-hover)

@media screen and (min-width: $device-mobile)
  .post-list.author #archive
    padding: 1rem 0